#edit
  //display: none
  .media
    position: relative
    height: 26px
    overflow: hidden
    width: 100%
    padding-right: 0px

    +background(linear-gradient(top, #1F1F1F, #191919))

    .middle
      -ms-touch-action: none
      display: block
      position: relative
      height: 26px
      width: 100%
      z-index: 80
      +background(linear-gradient(top, #199DCA, #127EA2))

    .right
      -ms-touch-action: none
      display: block
      position: absolute
      right: 0
      top: 0
      height: 26px
      width: 26px
      cursor: w-resize
      z-index: 99
      +imageAfter($interface-sprite, $interface-sprite2x, drag-right, 2, 2)