#effects.ui-panel
  ul a
    display: block
    $padding-top: 68px
    padding-top: $padding-top
    height: 155px - $padding-top
    text-align: center
    color: #000
    text-decoration: none
    text-transform: capitalize
    font-size: 27px
  ul li:nth-child(even)
    background-color: #ccc
  ul li:nth-child(odd)
    background-color: #333
