#library
  //display: none
  .file-selector
    width: $panelWidth
    +imageBefore($interface-sprite, $interface-sprite2x, button-add, 47,110)

    form, input
      cursor: pointer
      opacity: 0
      width: $panelWidth
      height: 100%

    &:hover
      background-color: $titleBlue

  .library-item
    width: $panelWidth
    height: $libraryItemHeight

    > *
      position: absolute

    h3
      opacity: 0
      background: rgba( 0, 0, 0, 0.5 )
      width: 100%
      line-height: 1.5em
      text-indent: 5px

    button
      color: black
      height: 34px
      width: 34px
      float: right
      bottom: 15px
      margin: $libraryItemHeight - 30 5px 0 -2px
      position: relative
      +imageAfter($interface-sprite, $interface-sprite2x, button-zoom-in,8,8)

    img, video
      width: 100%
      height: auto

    &:hover
      h3
        opacity: 1

