/* line 1, footer.scss */
footer {
  background: #333333;
  min-height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
  padding-bottom: 20px;
  color: #999999;
  font-size: 14px;
}
/* line 12, footer.scss */
footer div:first-child {
  background: none;
}
/* line 14, footer.scss */
footer div:first-child .line {
  background: none;
  background-color: #2d2c2d;
  padding-left: 6px;
}
/* line 21, footer.scss */
footer .bar, footer .layer {
  background-color: #2d2c2d;
  padding: 3px 30px;
  position: relative;
  margin-bottom: 10px;
}
/* line 28, footer.scss */
footer .bar .line, footer .layer .media {
  position: absolute;
  right: 0;
  top: 0;
  left: 170px;
  height: 100%;
  font-size: 11px;
  line-height: 20px;
  background: #282628;
}
/* line 39, footer.scss */
footer .bar .line span {
  float: right;
  margin-right: 6px;
}
/* line 44, footer.scss */
footer .bar .line .part {
  position: absolute;
  height: 100%;
  background: #24687d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #24687d 0%, #144454 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #24687d), color-stop(100%, #144454));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #24687d 0%, #144454 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #24687d 0%, #144454 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #24687d 0%, #144454 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #24687d 0%, #144454 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24687d', endColorstr='#144454',GradientType=0 );
  /* IE6-9 */
}

/* line 59, footer.scss */
footer .part .left, footer .part .right {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  top: -10px;
}

/* line 67, footer.scss */
footer .part .left {
  left: -10px;
}

/* line 71, footer.scss */
footer .part .right {
  right: -10px;
}

/* line 75, footer.scss */
footer .bar.effects .line .part {
  background: -moz-linear-gradient(top, #4cffa7 0%, #36d486 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4cffa7), color-stop(100%, #36d486));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4cffa7 0%, #36d486 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4cffa7 0%, #36d486 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4cffa7 0%, #36d486 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4cffa7 0%, #36d486 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cffa7', endColorstr='#36d486',GradientType=0 );
  /* IE6-9 */
}
