/* line 8, panel.sass */
.ui-panel {
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 50px;
}
/* line 14, panel.sass */
.ui-panel.left {
  left: 20px;
}
/* line 17, panel.sass */
.ui-panel.right {
  right: 20px;
}
/* line 20, panel.sass */
.ui-panel ul {
  width: 100%;
  position: absolute;
  top: 50px;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
}
/* line 29, panel.sass */
.ui-panel ul li {
  width: 100%;
  height: 155px;
  margin: 10px 0 0;
}
/* line 34, panel.sass */
.ui-panel ul li:first-child {
  margin: 0;
}
