@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/* line 17, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, stylesheet.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* line 28, stylesheet.sass */
html {
  height: 100%;
}

/* line 31, stylesheet.sass */
body {
  height: 100%;
  background: #1d1d1d;
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
}

/* line 38, stylesheet.sass */
header {
  position: absolute;
  top: 0;
  width: 100%;
  background: #333333;
  min-height: 50px;
}

/* line 45, stylesheet.sass */
h1 {
  color: #00ccff;
  font-size: 30px;
  line-height: 50px;
  vertical-align: middle;
  text-indent: 40px;
}

/* line 52, stylesheet.sass */
h2 {
  font-size: 30px;
  margin: 10px 0 10px 20px;
}

/* line 56, stylesheet.sass */
.video {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 80%;
}

/* line 1, ui/footer.sass */
footer {
  background: #333333;
  min-height: 50px;
  height: 20%;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
  padding-bottom: 20px;
  color: #999999;
  font-size: 14px;
}
/* line 13, ui/footer.sass */
footer div:first-child {
  background: none;
}
/* line 16, ui/footer.sass */
footer div:first-child .layer {
  background: none;
  background-color: #2d2c2d;
  padding-left: 6px;
}
/* line 21, ui/footer.sass */
footer .bar {
  background-color: #2d2c2d;
  padding: 3px 30px;
  position: relative;
  margin-bottom: 10px;
}
/* line 27, ui/footer.sass */
footer .bar .layer {
  position: absolute;
  right: 0;
  top: 0;
  left: 170px;
  height: 100%;
  font-size: 11px;
  layer-height: 20px;
  background: #282628;
  overflow: hidden;
}
/* line 38, ui/footer.sass */
footer .bar .layer .media {
  position: absolute;
  height: 100%;
  cursor: move;
  overflow: hidden;
}
/* line 44, ui/footer.sass */
footer .bar .layer .media .left {
  -ms-touch-action: none;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 26px;
  width: 26px;
  cursor: e-resize;
  z-index: 99;
}
/* line 55, ui/footer.sass */
footer .bar .layer .media .middle {
  -ms-touch-action: none;
  display: block;
  position: relative;
  height: 26px;
  width: 100%;
  z-index: 80;
}
/* line 63, ui/footer.sass */
footer .bar .layer .media .right {
  -ms-touch-action: none;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 26px;
  width: 26px;
  cursor: w-resize;
  z-index: 99;
}
/* line 74, ui/footer.sass */
footer .bar .layer span {
  float: right;
  margin-right: 6px;
}
/* line 78, ui/footer.sass */
footer .bar .layer .part {
  position: absolute;
  height: 100%;
  background: #24687d;
  background: -moz-layerar-gradient(top, #24687d 0%, #144454 100%);
  background: -webkit-gradient(layerar, left top, left bottom, color-stop(0%, #24687d), color-stop(100%, #144454));
  background: -webkit-layerar-gradient(top, #24687d 0%, #144454 100%);
  background: -o-layerar-gradient(top, #24687d 0%, #144454 100%);
  background: -ms-layerar-gradient(top, #24687d 0%, #144454 100%);
  background: layerar-gradient(to bottom, #24687d 0%, #144454 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24687d', endColorstr='#144454',GradientType=0 );
}

/* line 90, ui/footer.sass */
footer .part .left, footer .part .right {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  top: -10px;
}

/* line 97, ui/footer.sass */
footer .part .left {
  left: -10px;
}

/* line 100, ui/footer.sass */
footer .part .right {
  right: -10px;
}

/* line 103, ui/footer.sass */
footer .bar.effects .layer .part {
  background: -moz-layerar-gradient(top, #4cffa7 0%, #36d486 100%);
  background: -webkit-gradient(layerar, left top, left bottom, color-stop(0%, #4cffa7), color-stop(100%, #36d486));
  background: -webkit-layerar-gradient(top, #4cffa7 0%, #36d486 100%);
  background: -o-layerar-gradient(top, #4cffa7 0%, #36d486 100%);
  background: -ms-layerar-gradient(top, #4cffa7 0%, #36d486 100%);
  background: layerar-gradient(to bottom, #4cffa7 0%, #36d486 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cffa7', endColorstr='#36d486',GradientType=0 );
}

/* line 11, ui/panel.sass */
.ui-panel {
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 50px;
}
/* line 17, ui/panel.sass */
.ui-panel.left {
  left: 20px;
}
/* line 20, ui/panel.sass */
.ui-panel.right {
  right: 20px;
}
/* line 23, ui/panel.sass */
.ui-panel ul {
  width: 100%;
  position: absolute;
  top: 50px;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
}
/* line 33, ui/panel.sass */
.ui-panel ul li {
  position: relative;
  width: 100%;
  height: 155px;
  margin: 10px 0 0;
}
/* line 39, ui/panel.sass */
.ui-panel ul li:first-child {
  margin: 0;
}

/* line 1, ui/medialibrary.sass */
.file-selector {
  background: #333333 url("../../images/whitecross.png") no-repeat center center;
  width: 280px;
}
/* line 5, ui/medialibrary.sass */
.file-selector form, .file-selector input {
  cursor: pointer;
  opacity: 0;
  width: 280px;
  height: 100%;
}
/* line 11, ui/medialibrary.sass */
.file-selector:hover {
  background-color: #00ccff;
}

/* line 15, ui/medialibrary.sass */
.mediaLibraryItem > * {
  position: absolute;
}
/* line 18, ui/medialibrary.sass */
.mediaLibraryItem h3 {
  opacity: 0;
}
/* line 21, ui/medialibrary.sass */
.mediaLibraryItem button {
  background: #00ccff;
  color: black;
  border-radius: 3px;
  height: auto;
  width: auto;
  right: 5px;
  bottom: 10px;
}
/* line 30, ui/medialibrary.sass */
.mediaLibraryItem img {
  width: 100%;
  height: auto;
}
/* line 35, ui/medialibrary.sass */
.mediaLibraryItem:hover h3 {
  opacity: 1;
}

/* line 66, stylesheet.sass */
#composition {
  position: absolute;
  left: 310px;
  right: 310px;
  height: 80%;
}
/* line 73, stylesheet.sass */
#composition .controls {
  z-index: 1;
  position: absolute;
  vertical-position: bottom;
  top: 500px;
  left: 20px;
}

/* line 80, stylesheet.sass */
#player {
  width: 100%;
  pointer-events: none;
}

/* line 85, stylesheet.sass */
button {
  width: 40px;
  height: 40px;
  border: 0;
  background: center center no-repeat;
  cursor: pointer;
}
/* line 91, stylesheet.sass */
button:hover {
  opacity: 0.8;
}

/* line 94, stylesheet.sass */
#fps {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* ==============================
 * ===- PANEL - LIBRARY
 * ============================== */
