/* Stylesheet
 * @author: T.M.P. Kleist / Code D'azur
 * ============================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300)
@import compass/reset
@import compass/css3/images
@import mixin
@import compass/css3/transition
@import compass/utilities/text/replacement
@import compass/css3/opacity


/* Variables
 * ---------------------------------------------------------------------- */

$interface-sprite: sprite-map("interface/*.png", $layout: smart)
$interface-sprite2x: sprite-map("interface2x/*.png", $layout: smart)

$headerHeight: 50px 
$footerHeight: 125px

$sideMargin: 20px
$panelMargin: 10px
$panelHeightPct: 80%
$panelWidth: 280px

$titleBlue: #0CF 

$sideMargin: 20px   
$panelMargin: 10px
 
$libraryItemHeight: 155px


/* Base
 * ---------------------------------------------------------------------- */

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box
  
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: moz-none
  -ms-user-select: none  
  user-select: none
  
  
html
  height: 100% 
  -ms-content-zooming: none
 
body
  height: 100%
  background: #1d1d1d 
  color: #fff  
  font-family: 'Open Sans', helvetica, verdana, sans-serif
  font-weight: 300
  -ms-content-zooming: none

  #hiddenVideo
    display: none

header 
  position: absolute 
  top: 0 
  width: 100%
  background: #333333
  min-height: $headerHeight

h1
  color: $titleBlue
  font-size: 30px
  line-height: 50px
  vertical-align: middle
  text-indent: 40px
 
h2
  font-size: 30px
  margin: 10px 0 10px 20px
  
button
  border: 0
  background: 0
  margin: 0
  padding: 0
  cursor: pointer
  outline: none 
  +transition(opacity 100ms ease-in-out)
  &:hover
    opacity: 0.6 
  &:active
    +transition(opacity 0ms ease-in-out)
    opacity: 0.2 

div.video
  position: absolute
  top: $headerHeight
  width: 100%
  height: $panelHeightPct 
  
  
/* Imports
 * ---------------------------------------------------------------------- */
    
@import ui/footer
@import ui/panel
@import ui/effects
@import ui/edit
@import ui/library
@import ui/composition
@import ui/player
@import ui/scrollbars






