@import url(http://fonts.googleapis.com/css?family=Open+Sans:300)
@import compass/reset
@import compass/css3/images

$headerHeight: 50px
$footerHeight: 125px

$sideMargin: 20px
$panelMargin: 10px
$panelHeightPct: 80%
$panelWidth: 280px

$titleBlue: #0CF

/* ==============================
 * ===- BASE
 * ==============================

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: moz-none
  -ms-user-select: none 
  user-select: none
 
html
  height: 100%
 
body
  height: 100%
  background: #1d1d1d 
  color: #fff 
  font-family: 'Open Sans'  
  font-weight: 300

header 
  position: absolute 
  top: 0 
  width: 100%
  background: #333333
  min-height: $headerHeight

h1
  color: $titleBlue
  font-size: 30px
  line-height: 50px
  vertical-align: middle
  text-indent: 40px
 
h2
  font-size: 30px
  margin: 10px 0 10px 20px

.video
  position: absolute
  top: $headerHeight
  width: 100%
  height: $panelHeightPct
  
/* ==============================
 * ===- IMPORT
 * ==============================

@import ui/footer
@import ui/panel
@import ui/library

#composition
  position: absolute
  //background: darkslateblue;
  left: $panelWidth + $sideMargin + $panelMargin
  right: $panelWidth + $sideMargin + $panelMargin
  height: $panelHeightPct
  
  .controls
    z-index: 1
    position: absolute
    vertical-position: bottom
    top: 500px
    left: 20px

#player
  width: 100%
  pointer-events: none
  //background: darkolivegreen;

button
  width: 40px
  height: 40px
  border: 0
  background: center center no-repeat
  cursor: pointer
  &:hover
    opacity: 0.8

#fps
  position: absolute
  top: 10px
  right: 10px
