@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/* line 17, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Library/LiveReload/Plugins/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, stylesheet.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

/* line 24, stylesheet.scss */
html {
  height: 100%;
}

/* line 28, stylesheet.scss */
body {
  height: 100%;
  background: #1d1d1d;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 300;
}

/* line 36, stylesheet.scss */
header {
  background: #333333;
  height: 5%;
  min-height: 50px;
}

/* line 42, stylesheet.scss */
.video {
  height: 75%;
}

/* line 1, ui/footer.scss */
footer {
  background: #333333;
  min-height: 50px;
  height: 20%;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
  padding-bottom: 20px;
  color: #999999;
  font-size: 14px;
}
/* line 13, ui/footer.scss */
footer div:first-child {
  background: none;
}
/* line 15, ui/footer.scss */
footer div:first-child .layer {
  background: none;
  background-color: #2d2c2d;
  padding-left: 6px;
}
/* line 22, ui/footer.scss */
footer .bar {
  background-color: #2d2c2d;
  padding: 3px 30px;
  position: relative;
  margin-bottom: 10px;
}
/* line 31, ui/footer.scss */
footer .bar .layer {
  position: absolute;
  right: 0;
  top: 0;
  left: 170px;
  height: 100%;
  font-size: 11px;
  layer-height: 20px;
  background: #282628;
  overflow: hidden;
}
/* line 43, ui/footer.scss */
footer .bar .layer .media {
  position: absolute;
  height: 100%;
  cursor: move;
  overflow: hidden;
}
/* line 50, ui/footer.scss */
footer .bar .layer .media .left {
  -ms-touch-action: none;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 26px;
  width: 26px;
  cursor: e-resize;
  z-index: 99;
}
/* line 65, ui/footer.scss */
footer .bar .layer .media .middle {
  -ms-touch-action: none;
  display: block;
  position: relative;
  height: 26px;
  width: 100%;
  z-index: 80;
}
/* line 77, ui/footer.scss */
footer .bar .layer .media .right {
  -ms-touch-action: none;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 26px;
  width: 26px;
  cursor: w-resize;
  z-index: 99;
}
/* line 96, ui/footer.scss */
footer .bar .layer span {
  float: right;
  margin-right: 6px;
}
/* line 101, ui/footer.scss */
footer .bar .layer .part {
  position: absolute;
  height: 100%;
  background: #24687d;
  /* Old browsers */
  background: -moz-layerar-gradient(top, #24687d 0%, #144454 100%);
  /* FF3.6+ */
  background: -webkit-gradient(layerar, left top, left bottom, color-stop(0%, #24687d), color-stop(100%, #144454));
  /* Chrome,Safari4+ */
  background: -webkit-layerar-gradient(top, #24687d 0%, #144454 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-layerar-gradient(top, #24687d 0%, #144454 100%);
  /* Opera 11.10+ */
  background: -ms-layerar-gradient(top, #24687d 0%, #144454 100%);
  /* IE10+ */
  background: layerar-gradient(to bottom, #24687d 0%, #144454 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24687d', endColorstr='#144454',GradientType=0 );
  /* IE6-9 */
}

/* line 116, ui/footer.scss */
footer .part .left, footer .part .right {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  top: -10px;
}

/* line 124, ui/footer.scss */
footer .part .left {
  left: -10px;
}

/* line 128, ui/footer.scss */
footer .part .right {
  right: -10px;
}

/* line 132, ui/footer.scss */
footer .bar.effects .layer .part {
  background: -moz-layerar-gradient(top, #4cffa7 0%, #36d486 100%);
  /* FF3.6+ */
  background: -webkit-gradient(layerar, left top, left bottom, color-stop(0%, #4cffa7), color-stop(100%, #36d486));
  /* Chrome,Safari4+ */
  background: -webkit-layerar-gradient(top, #4cffa7 0%, #36d486 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-layerar-gradient(top, #4cffa7 0%, #36d486 100%);
  /* Opera 11.10+ */
  background: -ms-layerar-gradient(top, #4cffa7 0%, #36d486 100%);
  /* IE10+ */
  background: layerar-gradient(to bottom, #4cffa7 0%, #36d486 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cffa7', endColorstr='#36d486',GradientType=0 );
  /* IE6-9 */
}

/* line 47, stylesheet.scss */
#composition {
  position: absolute;
  background: darkslateblue;
  left: 280px;
  right: 280px;
  height: 75%;
}
/* line 56, stylesheet.scss */
#composition .controls {
  position: absolute;
  vertical-position: bottom;
  top: 450px;
  left: 20px;
}

/* line 64, stylesheet.scss */
#player {
  width: 100%;
  opacity: 0.9;
  pointer-events: none;
  background: darkolivegreen;
}

/* line 71, stylesheet.scss */
button {
  width: 40px;
  height: 40px;
  border: 0;
  background: center center no-repeat;
  cursor: pointer;
}

/* line 79, stylesheet.scss */
button:hover {
  opacity: 0.8;
}

/* line 83, stylesheet.scss */
button.play {
  background-image: url(/images/play.png);
}

/* line 87, stylesheet.scss */
button.pause {
  background-image: url(/images/pause.png);
}

/* line 92, stylesheet.scss */
button.stop {
  background-image: url(/images/stop.png);
}

/* line 96, stylesheet.scss */
button.pixelize {
  background-image: url(/images/pixelize.png);
}

/* line 100, stylesheet.scss */
button.threshold {
  background-image: url(/images/threshold.png);
}

/* line 104, stylesheet.scss */
button.grayscale {
  background-image: url(/images/grayscale.png);
}

/* line 108, stylesheet.scss */
button.red {
  background-color: red;
}

/* line 112, stylesheet.scss */
button.green {
  background-color: green;
}

/* line 116, stylesheet.scss */
button.contrast {
  background-color: blue;
}

/* line 120, stylesheet.scss */
button.hipster {
  background-color: yellowgreen;
}

/* line 124, stylesheet.scss */
#rgb {
  position: absolute;
  z-index: 99;
  right: 0;
  display: none;
}

/* line 131, stylesheet.scss */
#rgb input {
  width: 300px;
}

/* line 135, stylesheet.scss */
#fps {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* =================================================================
   ===- PANEL
   ================================================================= */
/* line 145, stylesheet.scss */
.ui-panel {
  width: 280px;
  height: 75%;
  position: absolute;
}

/* line 151, stylesheet.scss */
.ui-panel.left {
  left: 20px;
}

/* line 155, stylesheet.scss */
.ui-panel.right {
  right: 20px;
}

/* line 159, stylesheet.scss */
.ui-panel h2 {
  font-size: 30px;
  margin: 10px 0 10px 20px;
}

/* line 164, stylesheet.scss */
.ui-panel ul {
  width: 90%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

/* line 170, stylesheet.scss */
.ui-panel ul li {
  width: 100%;
  height: 155px;
  margin: 10px 0 0;
}

/* line 175, stylesheet.scss */
.ui-panel ul li:first-child {
  margin: 0;
}

/* ==============================
   ===- PANEL - LIBRARY
   ============================== */
